{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/HP/Desktop/ProjetDeCertification/src/Controller/DetailDocumentController.php'|file_link(0) }}">src/Controller/DetailDocumentController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/HP/Desktop/ProjetDeCertification/templates/detail_document/index.html.twig'|file_link(0) }}">templates/detail_document/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
